 * {
    box-sizing: border-box;
  }
  
  /*
    The background color will be #ccc
    at browser widths above 768px
  */
  body {
    /* Typography */
    font-size: 18px;
    line-height: 27px;
  
    /* Visual */
    background-color: #eee;
  }
  
  /*
    The width of the container will be 1024px
    at browser widths above 768px
  */
  .container {
    /* Box-model */
    width: 1024px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  @media screen and (max-width: 768px) {
    body {
      background-color: #eee;
    }
  
    .container {
      /* Box-model */
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      padding: 0px; 
    }
  }
  
 

  