 * {
    box-sizing: border-box;
  }
  
  /*
    The background color will be #ccc
    at browser widths above 768px
  */
  body {
    /* Typography */
    font-size: 18px;
    line-height: 27px;
  
    /* Visual */
    background-color: #eee;
  }
  
  /*
    The width of the container will be 1024px
    at browser widths above 768px
  */
  .container {
    /* Box-model */
    width: 1024px;
    /* margin-left: 40px;
    margin-right: 40px; */
  }
  
  @media screen and (max-width: 768px) {
    body {
      background-color: #eee;
    }
  
    .container {
      /* Box-model */
      width: 100%;
      margin-left: 40px;
      margin-right: 40px;
    }
  }
  
  /* Additional Screen Sizes */
  
  /* Width at 320px and below */
  @media screen and (max-width: 320px) {
    body {
      background-color: #eee;
    }
  
    .container {
      /* Box-model */
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;      
    }
  }

  /* Width at 168px and below */
  @media screen and (max-width: 168px) {
    body {
      background-color: #eee;
    }

    .container {
      /* Box-model */
      width: 100%;
    }
  }

  